{% extends '::base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body -%}
<div class="container">
<h1 class="page-header">Le blog de N&L
<small>A propos</small>
</h1>

    <div class="row">
        <div class="col-md-8">
            <table class="records_list">
  
            <tbody>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="lead"> Ce blog a été réalisé par Natacha VARIERAS et Louis GALLAIS. </p>
            <br>
            <br>
            <br>
            <br>
            <br>     

            </table>
            </tbody>

        </div>

    </div>
</div>

    {% endblock %}
